.users__search {
    width: 350px;
    height: 35px;
    padding: 0;
    padding-left: 15px;
    margin: 0 auto 20px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    box-sizing: border-box;
}

@media screen and (max-width: 550px) {
    .users__search {
      width: 300px;
      margin: 20px auto 5px;
    }
  }