.users__search-button {
    width: 100px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #029EC7 0%, #12D2D4 100%);
    color: #fff;
}

@media screen and (max-width: 550px) {
    .users__search-button {
      position: static;
      width: 150px;
    }
  }